@page
@model Web.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
}
<form method="post">
    <div class="form-group">
        <label asp-for="Register.EmailAddress">Email:</label>
        <input asp-for="Register.EmailAddress" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Register.Password">Password:</label>
        <input asp-for="Register.Password" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Register.ConfirmPassword">Confirm Password:</label>
        <input asp-for="Register.ConfirmPassword" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
    <a>Already have an account? <a asp-page="/Login">Login</a></a>
</form>
@if (Model.ErrorMessages != null && Model.ErrorMessages.Any())
{
    <div class="alert alert-danger" role="alert">
        @foreach (var error in Model.ErrorMessages)
        {
            <p>@error</p>
        }
    </div>
}
@if (Model.SuccessMessage != null)
{
    <div class="alert alert-success" role="alert">
        <p>@Model.SuccessMessage <a asp-page="/Login">Login now?</a></p>
    </div>
}
