USE master
GO

CREATE DATABASE Stocks2024DB

GO
USE Stocks2024DB
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 2/29/2024 9:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[Email] [nvarchar](50) NOT NULL,
	[UserName] [nvarchar](100) NULL,
	[Password] [nvarchar](50) NULL,
	[FullName] [nvarchar](50) NULL,
	[Birthday] [datetime] NULL,
	[Status] [nvarchar](10) NULL,
	[RoleID] [int] NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stocks]    Script Date: 2/29/2024 9:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stocks](
	[StockID] [nvarchar](50) NULL,
	[StockCode] [nvarchar](10) NOT NULL,
	[StockName] [nvarchar](50) NULL,
	[CompanyName] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Exchange] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[CurrentPrice] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[StockCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StocksHistory]    Script Date: 2/29/2024 9:41:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StocksHistory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ExchangeDate] [datetime] NULL,
	[Price] [int] NULL,
	[OpenPrice] [int] NULL,
	[ClosePrice] [int] NULL,
	[MaxPrice] [int] NULL,
	[MinPrice] [int] NULL,
	[Volume] [int] NULL,
	[StockCode] [nvarchar](10) NULL,
 CONSTRAINT [PK_StocksHistory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Accounts] ([Email], [UserName], [Password], [FullName], [Birthday], [Status], [RoleID]) VALUES (N'admin@ft.com', N'admin', N'@4', N'Admin', CAST(N'1990-09-16T00:00:00.000' AS DateTime), N'active', 1)
INSERT [dbo].[Accounts] ([Email], [UserName], [Password], [FullName], [Birthday], [Status], [RoleID]) VALUES (N'customer@ft.com', N'staff 2', N'@4', N'staff 1', CAST(N'1989-11-11T00:00:00.000' AS DateTime), N'active', 4)
INSERT [dbo].[Accounts] ([Email], [UserName], [Password], [FullName], [Birthday], [Status], [RoleID]) VALUES (N'manager@ft.com', N'manager', N'@4', N'Manager', CAST(N'1980-12-12T00:00:00.000' AS DateTime), N'active', 3)
GO
INSERT [dbo].[Stocks] ([StockID], [StockCode], [StockName], [CompanyName], [Email], [Exchange], [Address], [CurrentPrice], [CreatedAt], [UpdatedAt]) VALUES (N'3', N'BSR', N'Hóa Dầu Bình Son', N'CTCP Hóa Dầu Bình Son', N'bsr@gof.com', N'HOSE', N'Sài gòn', 19900, CAST(N'2024-01-03T00:00:00.000' AS DateTime), CAST(N'2024-02-29T00:00:00.000' AS DateTime))
INSERT [dbo].[Stocks] ([StockID], [StockCode], [StockName], [CompanyName], [Email], [Exchange], [Address], [CurrentPrice], [CreatedAt], [UpdatedAt]) VALUES (N'4', N'EIB', N'Ngân hàng TMCP Xuất Nhập Khẩu Việt Nam', N'Ngân hàng TMCP Xuất Nhập Khẩu Việt Nam', N'eib@gof.com', N'HOSE', N'Sài gòn', 18100, CAST(N'2024-01-03T00:00:00.000' AS DateTime), CAST(N'2024-02-29T00:00:00.000' AS DateTime))
INSERT [dbo].[Stocks] ([StockID], [StockCode], [StockName], [CompanyName], [Email], [Exchange], [Address], [CurrentPrice], [CreatedAt], [UpdatedAt]) VALUES (N'1', N'HPG', N'Hòa Phát', N'CTCP Tập đoàn Hòa Phát', N'hoaphat@gof.com', N'HOSE', N'Hà Nội', 31000, CAST(N'2024-01-01T00:00:00.000' AS DateTime), CAST(N'2024-01-02T00:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[StocksHistory] ON 

INSERT [dbo].[StocksHistory] ([ID], [ExchangeDate], [Price], [OpenPrice], [ClosePrice], [MaxPrice], [MinPrice], [Volume], [StockCode]) VALUES (1, CAST(N'2024-02-26T00:00:00.000' AS DateTime), 28800, 28400, 28800, 28800, 28300, 19221700, N'HPG')
INSERT [dbo].[StocksHistory] ([ID], [ExchangeDate], [Price], [OpenPrice], [ClosePrice], [MaxPrice], [MinPrice], [Volume], [StockCode]) VALUES (2, CAST(N'2024-02-27T00:00:00.000' AS DateTime), 30350, 28900, 30600, 30450, 28800, 86841500, N'HPG')
INSERT [dbo].[StocksHistory] ([ID], [ExchangeDate], [Price], [OpenPrice], [ClosePrice], [MaxPrice], [MinPrice], [Volume], [StockCode]) VALUES (3, CAST(N'2024-02-28T00:00:00.000' AS DateTime), 31000, 30400, 30600, 30950, 30150, 35201800, N'HPG')
SET IDENTITY_INSERT [dbo].[StocksHistory] OFF
GO
ALTER TABLE [dbo].[StocksHistory]  WITH CHECK ADD  CONSTRAINT [FK_StocksHistory_Stocks] FOREIGN KEY([StockCode])
REFERENCES [dbo].[Stocks] ([StockCode])
GO
ALTER TABLE [dbo].[StocksHistory] CHECK CONSTRAINT [FK_StocksHistory_Stocks]
GO
